    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Roboto, Arial, sans-serif;
        font-size: 18px;
    }
    
    .wrapper {
        max-width: 800px;
        width: 70vw;
        height: 100vh;
        margin: 0 auto;
    }
    
    textarea {
        width: 100%;
        height: 250px;
        padding: 20px;
        border-radius: 10px;
        resize: none;
        outline: none;
    }
    
    .note {
        margin-top: 20px;
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
    }
    
    .keyboard {
        width: 100%;
        height: 280px;
        padding: 20px;
        user-select: none;
        background-color: #e0a09f;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.15);
        &__key {
            display: inline-flex;
            justify-content: center;
            vertical-align: top;
            width: 40px;
            height: 40px;
            margin: 3px;
            border-radius: 5px;
            border: none;
            outline: none;
            color: #544444;
            background: rgba(255, 255, 255, 0.3);
            box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.15);
            &-extra-wide {
                width: 236px;
            }
            &-wide {
                width: 140px;
            }
            &-enter {
                width: 130px;
            }
            &-medium {
                width: 95px;
            }
            &-small {
                width: 67px;
            }
            &:hover {
                cursor: pointer;
                background-color: darken($color: #e0a09f, $amount: 4);
            }
            &.animated {
                animation-name: to-center;
                animation-duration: 1s;
                animation-timing-function: linear;
                background-color: darken($color: #e0a09f, $amount: 4);
                border: 3px double darken($color: #e0a09f, $amount: 20);
            }
            &.highlighted{
                background-color: darken($color: #e0a09f, $amount: 4);
                border: 3px double darken($color: #e0a09f, $amount: 20);
            }
            &.hidden {
                display: none;
            }
        }
        br.hidden {
            display: none;
        }
    }
    
    @keyframes to-center {
        from {
            border-radius: 5px;
        }
        50% {
            border-radius: 30px;
        }
        to {
            border-radius: 5px;
        }
    }
